<div class="content">
    <nav>
        <ul>
            <li><a routerLink="/admin">Home</a></li>
            <li routerLink="/addProduct"><a>Add Product</a></li>
            <li style="float:right"><a class="active" routerLink="/login">Logout</a></li>
          </ul>
          
    </nav>
    </div>


 <div class="shopping-cart">
        <h1 class="cart-title">Product</h1>
        <mat-divider></mat-divider>
        
        <div class="main-block">
            <form #product="ngForm" >
            <fieldset>
            <legend>
            <h3>Product Details</h3>
            </legend>
            <div class="account-details">
            <div><label>Product Name</label><input type="text" id="name" name="name" #name="ngModel" [(ngModel)]="productData[0].productname" ></div>
            <div><label>Company Name</label><input type="text" id="cname" name="cname" #cname="ngModel" [(ngModel)]="productData[0].companyname"  ></div>
            <div><label>Category Name</label><input type="text" id="category" name="category" #category="ngModel" [(ngModel)]="productData[0].category"  ></div>
            <div><label>Price Per Unit</label><input type="text" id="ppu" name="ppu" #ppu="ngModel" [(ngModel)]="productData[0].priceperunit"></div>
            
            </div>
            </fieldset>
                        
            <button type="submit" (click)="editProduct()">Submit</button>
            </form>
            </div> 